:root {
	--primary-black-color: #212121;
	--primary-white-color: #ffffff;
	--secondary-color: rgba(117, 117, 117);
	--secondary-light-color: #a7a7a7;
	--accent-color: #2196f3;
	--secondary-accent-color: #0b4c8c;

	--bg-color: rgba(117, 117, 117, 0.3);
	--secondary-background-color: rgba(117, 117, 117, 0.2);

	--card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	--card-border-color: #eeeeee;

	--overlay-background-color: rgba(0, 0, 0, 0.2);
	--modal-background-color: rgba(255, 255, 255);

	--transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
